<!-- Favicon Import -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/icon/icon.ico/apple-touch-icon.png?v=LbzWB9PrLq">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icon/icon.ico/favicon-32x32.png?v=LbzWB9PrLq">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icon/icon.ico/favicon-16x16.png?v=LbzWB9PrLq">
<link rel="manifest" href="/images/icon/icon.ico/site.webmanifest?v=LbzWB9PrLq">
<link rel="mask-icon" href="/images/icon/icon.ico/safari-pinned-tab.svg?v=LbzWB9PrLq" color="#5bbad5">
<link rel="shortcut icon" href="/images/icon/icon.ico/favicon.ico?v=LbzWB9PrLq">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/images/icon/icon.ico/browserconfig.xml?v=LbzWB9PrLq">
<meta name="theme-color" content="#ffffff">