<footer id="footer" class="content gray" role="group">
    <div class="wrapper center-align">
        <div class="pre-footer center-align">
        <div class="vertical-align">GET IN TOUCH</div>
        </div>

        <div class="footer-group">
            <a href="https://github.com/MostafaOkasha" target="_blank" rel="noopener" class="footer-social" aria-label="Github">
                {% include icon.html name="github" %}
                MostafaOkasha
            </a>
        </div>
        <div class="footer-group">
            <a href="https://www.linkedin.com/in/okashm" target="_blank" rel="noopener" class="footer-social" aria-label="LinkedIn">
                {% include icon.html name="linkedin" %}
                /in/Okashm
            </a>
        </div>
        <div class="footer-group">
            <a href="mailto:mostafa@okasha.me" class="footer-social" aria-label="Email">
                {% include icon.html name="email" %}
                mostafa@okasha.me
            </a>
        </div>
    </div>

    <div class="wrapper center-align small-text">
        <hr/>
        <p> Cloudflare Protection: <span style="color: #00ff00"><strong>Active</strong></span>
        <br> &#169; 2026 Mostafa Okasha.<a href="https://github.com/MostafaOkasha/MostafaOkasha.github.io/blob/master/LICENSE" target="_blank"> MIT License</a>
        </p>
    </div>
</footer>
