<footer id="footer" class="content gray" role="group">
    <div class="wrapper center-align">
        <div class="pre-footer center-align">
        <div class="vertical-align">GET IN TOUCH</div>
        <br>
        <br>
        </div>

        <div class="footer-group">
            <a href="https://github.com/MostafaOkasha" target="_blank" class="footer-social" aria-label="Github">
                <i class="fa fa-github-square" aria-hidden="true" title="Github"></i>
                MostafaOkasha
            </a>
        </div>
        <div class="footer-group">
            <a href="https://www.linkedin.com/in/okashm" target="_blank" class="footer-social" aria-label="LinkedIn">
                <i class="fa fa-linkedin-square" aria-hidden="true" title="LinkedIn"></i>
                /in/Okashm
            </a>
        </div>
        <div class="footer-group">
            <a href="mailto:mostafa@okasha.me" class="footer-social" aria-label="Email">
                <i class="fa fa-envelope" aria-hidden="true" title="Email"></i>
                mostafa@okasha.me
            </a>
        </div>
    </div>

    <div class="wrapper center-align small-text">
        <hr/>
        <p> Cloudflare Protection: <span style="color: #00ff00"><strong>Active</strong></span>
        <br> &#169; 2019 Mostafa Okasha.<a href="https://github.com/MostafaOkasha/MostafaOkasha.github.io/blob/master/LICENSE" target="_blank"> MIT License</a>
        </p>
    </div>
</footer>

<div class="footer-rainbow">
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
    <div class="rainbow-stripe"></div>
</div>
