Hello! <span style="font-size: 90%;">👋</span>
<br>
I’m <span class="intro-emphasis"><a class="intro-link" href="/about">Mostafa Okasha</a></span>. I recently graduated from <span class="intro-emphasis"><a class="intro-link" href="https://www.mcmaster.ca/" target="_blank">McMaster University</a></span> studying <span class="intro-emphasis"><a class="intro-link" href="https://www.eng.mcmaster.ca/cas/programs/degree-options/beng/mechatronics" target="_blank">Mechatronics Engineering</a></span>.<br><br>

I'm a former Software Developer intern at <span class="intro-emphasis"><a class="intro-link" href="https://www.ericsson.com/en" target="_blank">Ericsson</a></span> where I developed 5G code that is being used by millions of users. I was also an Instructional Assistant Intern for <span class="intro-emphasis"><a class="intro-link" href="https://www.eng.mcmaster.ca/sites/default/files/uploads/eng_1p03_fall_2017.pdf" target="_blank">Eng-1P03</a></span> as part of the <span class="intro-emphasis"><a class="intro-link" href="https://www.eng.mcmaster.ca/programs/impact" target="_blank">IMPACT initiative</a></span> where I conducted tutorials to help an <span class="intro-emphasis"><a data-fancybox class="intro-link" href="https://youtu.be/OmtyYt64q7A">AMAZING client</a></span>!

<!--
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/OmtyYt64q7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<span class="intro-emphasis"><a class="intro-link" href="https://youtu.be/OmtyYt64q7A" target="_blank">AMAZING client</a></span>!
-->

