<div class="jarallax" data-jarallax-video="https://youtu.be/bTqVqk7FSmY">
    <!-- mp4:./videos/temp.mp4 -->
    <header id="header" class="landing-header">
        <div class="wrapper">
            <div class="left">
                <a href="/" class="logo-container">
                <img class="logo" src="images/m-logo.png" alts="Mostafa Okasha Brand Logo">
                </a>
                <div class="intro">
                    {% include header-intro.html %}
                </div>
            </div>
            <div class="right">
                {% include navigation_links.html %}
                <div class="commit-history">
                    {% assign commit_time = site.github.public_repositories | where_exp: "item", "item.id == 189687010" | map: "pushed_at" %}

                    Last updated with commit
                    <span class="commit-sha">
                        <a href="https://github.com/MostafaOkasha/mostafaokasha.github.io/commits/master" target="_blank">
                            @{{ site.github.build_revision | truncate: 7, "" }}
                        </a>
                    </span>
                    <br>
                    on {{ commit_time }}
                </div>
            </div>
        </div>
    </header>

    <div class="vid-overlay">
        <div class="wrapper-pic animated fadeIn">
            <div class="profile-pic-container">
                <img class="profile-pic"src="/images/DSC_0027.png" alts="Mostafa Okasha Photo">
                
                <div id="app"></div>
            </div>
        </div>

        <div class="animated fadeIn">
            {% include scroll.html %}
        </div>

    </div>
</div>

<script>
var app = document.getElementById('app');
var typewriter = new Typewriter(app, {
    loop: true
});
typewriter.typeString('Explore My: Experiences')
    .pauseFor(1500)
    .deleteChars(11)
    .typeString('Projects')
    .pauseFor(1500)
    .deleteChars(8)
    .typeString('Skills')
    .pauseFor(1500)
    .deleteChars(6)
    .typeString('Education')
    .pauseFor(1500)
    .deleteChars(9)
    .typeString('Values')
    .pauseFor(1500)
    .deleteChars(6)
    .typeString('Goals')
    .pauseFor(1500)
    .deleteChars(5)
    .typeString('Interests')
    .pauseFor(1500)
    .deleteChars(9)
    .typeString('World')
    .pauseFor(5000)
    .deleteAll()
    .typeString('Scroll to Explore!')
    .pauseFor(3000)
    .deleteAll()
    .start();
</script>
<!--
<script>
    function myFunction() {
    $(document).ready(function() {
    $(".vid-overlay").css("height", 100vh - 
    $(".header").offsetHeight; });
    }
</script>
$('#divId').outerHeight(true)
-->