<header id="header" class="landing-header">
    <div class="wrapper">
        <div class="left">
            <a href="/" class="logo-container">
            <img class="logo" src="images/m-logo.png" alts="Mostafa Okasha Brand Logo">
            </a>
            <div class="intro">
                {% include header-intro.html %}
            </div>
        </div>
        <div class="right">
            {% include navigation_links.html %}
            <div class="commit-history">
                {% assign commit_time = site.github.public_repositories | where_exp: "item", "item.id == 189687010" | map: "pushed_at" %}

                Last updated with commit
                <span class="commit-sha">
                    <a href="https://github.com/MostafaOkasha/mostafaokasha.github.io/commits/master" target="_blank">
                        @{{ site.github.build_revision | truncate: 7, "" }}
                    </a>
                </span>
                <br>
                on {{ commit_time }}
            </div>
        </div>
    </div>
</header>