Hello! <span style="font-size: 90%;">👋</span>
<br>
I’m <span class="intro-emphasis"><a class="intro-link" href="#about-me">Mostafa Okasha</a></span>
<br>
Software Engineer, previously @ <span class="intro-emphasis"><a class="intro-link" href="https://about.meta.com/realitylabs/" target="_blank">Meta (Reality Labs)</a></span><br><br>

I'm also the founder of <span class="intro-emphasis"><a class="intro-link" href="#top-body">MapSight</a></span>, a geospatial analytics platform. Before that I was a Senior Software Engineer at <span class="intro-emphasis"><a class="intro-link" href="https://www.capitalone.ca/" target="_blank">Capital One</a></span>, helped train <span class="intro-emphasis"><a class="intro-link" href="https://scale.com/" target="_blank">Google Gemini</a></span> at Scale AI, and developed 5G radio features used by millions at <span class="intro-emphasis"><a class="intro-link" href="https://www.ericsson.com/en" target="_blank">Ericsson</a></span>. Scroll down to get to know me!
