<body>
	<div id="top-body" class="experience">
		<div class="wrapper">
			<div class="section-head">EXPERIENCE</div>
			<br>
			<br>
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
		</div>
	</div>



	<div class="education">
		<div class="wrapper">
			<div class="section-head center-align">EDUCATION</div>
			<br>
			<br>
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
		</div>
	</div>


	<div class="projects">
		<div class="wrapper">
			<div class="section-head right-align">PROJECTS</div>
			<br>
			<br>
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
		</div>
	</div>




	<div class="skills">
		<div class="wrapper">
			<div class="section-head center-align">SKILLS</div>
			<br>
			<br>
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
			<div class="section-head2">EXPERIENCE</div>
			<br>
			<br>
			<div class="section-head3 center-align">EXPERIENCE</div>
			<br>
			<br>
			<div class="section-head4 right-align">EXPERIENCE</div>
			<br>
			<br>
			<div class="section-head5 center-align">EXPERIENCE</div>
			<br>
			<br>
			<div class="section-head6">EXPERIENCE</div>
			<br>
			<br>
			<br>

		</div>
	</div>






	<div id="about-me" class="about-me">
		<div class="wrapper">
			<div class="section-head">ABOUT ME</div>
			<br>
			<br>
			Values:
			<br>
			<br>
			<br>
			<br>
			Goals:
			<br>
			<br>
			<br>
			<br>
			Interests:
			<br>
			<br>
			<br>
			<br>
			Vision for the World:
			<br>
			<br>
			<br>
			<br>
			<!-- write anictdoe with your signature at the end simple, plain and wide design with a loto f space-->
			Scroll back up!:
		</div>
	</div>



	<div class="epilogue">
		<div class="wrapper">
			<div class="section-head center-align">EPILOGUE</div>
			<br>
			<br>
			<br>
			Dear World,
			<br>
		</div>
	</div>


	<div class="jarallax">
		 <img class="jarallax-img" src="/images/untitled1.png" alt="">
		<div class="photography">

			<div class="wrapper">
				<div class="section-head">GOOGLE REVIEWS</div>
				<br>
				<br>
				<div class="section-head">PHOTOGRAPHY</div>
				<br>
			</div>
		</div>
	</div>

</body>

		<!-- 

		Projects with picture and slide show, Experiences with company logos and photos, skills with logos and greyed out, clickable to skill website, only logo but when you hover over it shows the name underneath.

		Hobbies with photos
		side hussle?
		interests small section talking about what you like

		I try my best to abide by the following values:
		- To always be honest and respectful to everyone that I cross paths with.
		- To always help those in need and to support my friends and family to the best of my ability.
		- To always put in 100% effort into everything that I make.

		Interests: Piano, Ukelele, Photography, Google Reviews, 
-->