<body>
	<div class="experience">
		<div class="wrapper">
		{% assign sorted_experience = site.experience | reverse %}
            {% for experience in sorted_experience %}
                {% assign experience_subtitle = experience.tagline
                                              | append: "<div class='vertical-spacer spacer-tiny'></div>"
                                              | append: experience.date_string %}
                {% include cv_item.html link=experience.link
                                        main_header=experience.title
                                        right_header=experience.location
                                        subtitle=experience_subtitle
                                        content=experience.content %}
            {% endfor %}
		</div>

	</div>


	<div class="projects">
		<div class="wrapper">

		</div>


	</div>


	<div class="skills">
		<div class="wrapper">

		</div>


	</div>


	<div class="education">
		<div class="wrapper">

		</div>


	</div>


	<div class="about">
		<div class="wrapper">

		</div>


	</div>


	<div class="">
		<div class="wrapper">

		</div>


	</div>


	<div id="top-body" class="landing-body">

		<!-- landing video here -->
		<!-- 

		Projects with picture and slide show, Experiences with company logos and photos, skills with logos and greyed out, clickable to skill website, only logo but when you hover over it shows the name underneath.

		Hobbies with photos
		side hussle?
		interests small section talking about what you like

		I try my best to abide by the following values:
		- To always be honest and respectful to everyone that I cross paths with.
		- To always help those in need and to support my friends and family to the best of my ability.
		- To always put in 100% effort into everything that I make.

		Interests: Piano, Ukelele, Photography, Google Reviews, 

		Certifications:
		Nothing here, please come back later :( sad doggo photo similar to the amazon one.
		-->
		<!-- Background YouTube Parallax -->
		<div class="wrapper">
			Experiences:
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
			<br>
			<br>
			<br>
			Projects:
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
			<br>
			<br>
			<br>
			Skills:
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
			<br>
			<br>
			<br>
			Education:
			<br>
			Ericssn: Software Engineer
			<br>
			McMaster University: Instructional Assistant Intern
			<br>
			QKids: Business Development Engineer Intern
			<br>
			King Faisal Hospital: Biomedical Engineer Intern
			<br>
			<br>
			<br>
			<br>
			Values:
			<br>
			<br>
			<br>
			<br>
			Goals:
			<br>
			<br>
			<br>
			<br>
			Interests:
			<br>
			<br>
			<br>
			<br>
			Vision for the World:
			<br>
			<br>
			<br>
			<br>
			Scroll back up!:
		</div>
	</div>
</body>
{% include sticky-script.html %}