<body>
	<div id="top-body" class="experience">
		<div class="wrapper">
			<div class="overlay-text" data-text="EXPERIENCE">EXPERIENCE</div>

			<div class="where-loc">WHERE</div>
			<div class="where-txt"> I've worked so far</div>
			<section class="timeline">
			  <ul>
			    <li>
			      <div class="time-div">
			      	<div class="wrapper2">
						<img class="exp-img-container" src="/images/ericsson.png" alt="Ericsson Logo">
						<div class="exp-container">
							<div class="exp-text" data-text="Software Developer Intern" date-text="Jan - Aug 2018"> @ Ericsson</div>
							<ul class="exp-body">
								<li>
									Developed 5G Radio features in <span style="color:#57CBFF">C++</span> that helped increase LTE data throughput by <strong>400%</strong>
								</li>
								<li>
									Designed an interactive <span style="color:#57CBFF">Bash</span> script that reduced time spent debugging mobile connection logs by <strong>50%</strong>
								</li>
								<li>
									Integrated script with <span style="color:#57CBFF">Python</span> Remote Desktop Protocols to automate mobile testing and triple capacity
								</li>
							</ul>
						</div>
					</div>
			      </div>
			    </li>
			    <li>
			      <div class="time-div">
			        <div class="wrapper2">
						<img class="exp-img-container" src="/images/mcmaster.png" alt="McMaster University Logo">
						<div class="exp-container">
							<div class="exp-text" data-text="Instructional Assistant Intern" date-text="Aug - Dec 2017"> @ McMaster University</div>
							<ul class="exp-body">
								<li>
									Received recognition for highest Instructional Assistant rating voted by all students – <span style="color:#57CBFF">4.6/5</span>
								</li>
								<li>
									Conducted Engineering <span style="color:#57CBFF">Design</span> and Ethics tutorials for <strong>1000+</strong> 1st year students with a team of 3
								</li>
								<li>
									Mentored students building a project for a disabled client through the Product Development Life Cycle
								</li>
							</ul>
						</div>
					</div>
			      </div>
			    </li>
			    <li>
			      <div class="time-div">
			        <div class="wrapper2">
						<img class="exp-img-container" src="/images/qkids.png" alt="Qkids Logo">
						<div class="exp-container">
							<div class="exp-text" data-text="Business Development Intern" date-text="May - Aug 2017"> @ QKids Tech.</div>
							<ul class="exp-body">
								<li>
									Developed a <span style="color:#57CBFF">Python based ATS</span> using SQLite and SQL Server that filtered over <strong>5000</strong> candidates
								</li>
								<li>
									Integrated with Gmail <span style="color:#57CBFF">API</span> to automate messaging which saved over <strong>160</strong> hours of sending emails
								</li>
								<li>
									Optimized string matching algorithms by improving the buffer comparison operations
								</li>
							</ul>
						</div>
					</div>
			      </div>
			    </li>
			    <li>
			      <div class="time-div">
			        <div class="wrapper2">
						<img class="exp-img-container" src="/images/kfsh.png" alt="KFSH Logo">
						<div class="exp-container">
							<div class="exp-text" data-text="Biomedical Engineering Intern" date-text="May - Aug 2016"> @ King Faisal Hospital</div>
							<ul class="exp-body">
								<li>
									Analyzed <span style="color:#57CBFF">medical equipment</span> with an Oscilloscope to find and repair minor defective components
								</li>
								<li>
									Composed an <span style="color:#57CBFF">Arduino</span> and Circuitry training program for freshmen interns to learn programming
								</li>
								<li>
									Performed 13 training labs in <strong>PLC and FPGA design</strong> and documented the labs for future interns
								</li>
							</ul>
						</div>
					</div>
			      </div>
			    </li>
			  </ul>
			</section>
		</div>
	</div>



	<div class="education">
		<div class="wrapper">
			<div class="section-head center-align">EDUCATION</div>
			<div class="center-align">
				<div class="what-loc">WHAT</div>
				<div class="what-txt"> I studied</div>
			</div>
			<img class="ed-img-container" src="/images/mcmaster.png" alt="McMaster University Logo">
			<hr class="ed-vertical"/>
			<div class="wrapper2">
				
				<div class="ed-container">
					<span style="color: #75002d;"><strong>McMaster University</strong></span>
				</div>
				<hr class="ed-vertical2"/>
				<div class="ed-container">
					<span class="ed-date">June 2019</span>
				</div>
				<hr class="ed-vertical2"/>
				<div class="ed-container">
					<strong style="color: #413e3a;">
					Mechatronics Engineering & Co-op
					</strong>
					(software focus)
				</div>
				<hr class="ed-vertical2"/>
				<strong style="color: #66625e; padding-bottom: 10px;">Relevant Courses:</strong>
				<div class="ed-courses">
				<div class="ed-course">Algorithms and Data Structures</div>
				<div class="ed-course">Databases</div>
				<div class="ed-course">Distributed Systems</div>
				<div class="ed-course">Networks and Security</div>
				<div class="ed-course">Operating Systems</div>
				<div class="ed-course">Software Optimization</div>
				<div class="ed-course">Scientific Computation</div>
				<div class="ed-course">Control Theory</div>
				<div class="ed-course">Embedded Systems</div>
				<div class="ed-course">Real-Time Systems</div>
				<div class="ed-course">Robotics</div>
				<div class="ed-course">Signal Processing</div>
				</div>
			</div>
		</div>
	</div>


	<div class="projects">
		<div class="wrapper">
			<div class="section-head right-align">PROJECTS</div>
			<div class="right-align">
				<div class="built-txt">Some things I've </div>
				<div class="built-loc">BUILT</div>
			</div>
			<div class="wrapper2">
				<div class="project">
					<img class="project-mainimage" src="images/chessboard.png">
					ChessMate (Capstone)
				</div>
				<div class="project">
					<img class="project-mainimage" src="images/vrgoggles.png">
					EyeSee
				</div>
				<div class="project">
					<img class="project-mainimage" src="images/robot.png">
					DRACO Robot
				</div>
				<div class="project">
					<img class="project-mainimage" src="images/google-glass.png">
					GlassTasks
				</div>
			</div>
			<img class="project-mainimage" src="images/gameboy.png">
		</div>
	</div>




	<div class="skills">
		<div class="wrapper">
			<div class="section-head center-align">SKILLS</div>
			<div class="center-align">
			   <div class="tech-loc">THIS</div>
			   <div class="tech-txt">is my expertise</div>
			</div>
			<div class="wrapper2">
				<div class ="skill-title">01. SOFTWARE</div>
				<hr class="ed-vertical2"/>
				<span style="color: #36558F;"><strong>My TOP 3 programming languages are</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/python.png" alt="Python Icon">
					<img class="skills-icons" src="images/skills/cpp.png" alt="C++ Icon">
					<img class="skills-icons" src="images/skills/java.png" alt="Java Icon">
				</div>


				<hr class="ed-vertical2"/>
				
				<span style="color: #36558F;"><strong>I'm also confident using</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/matlab.png" alt="Matlab Icon">

					<img class="skills-icons" src="images/skills/clanguage.png" alt="C Language Icon">
					
					<img class="skills-icons" src="images/skills/bash.png" alt="Bash Icon">

					<img class="skills-icons" src="images/skills/opencv.png" alt="OpenCV Icon">

					<img class="skills-icons" src="images/skills/aws.png" alt="AWS Icon">

					<img class="skills-icons" src="images/skills/javascript.png" alt="JavaScript Icon">
					
					<img class="skills-icons" src="images/skills/jquery.png" alt="jQuery Icon">

					<img class="skills-icons" src="images/skills/html5.png" alt="HTML5 Icon">

					<img class="skills-icons" src="images/skills/css3.png" alt="CSS3 Icon">

				</div>
				<hr class="ed-vertical2"/>

				<span style="color: #36558F;"><strong>And have previously worked with</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/linux.png" alt="Linux Icon">

					<img class="skills-icons" src="images/skills/git.png" alt="Git Icon">

					<img class="skills-icons" src="images/skills/mysql.png" alt="MySQL Icon">

					<img class="skills-icons" src="images/skills/numpy.png" alt="NumPy Icon">

					<img class="skills-icons" src="images/skills/matplotlib.png" alt="MatPlotLib Icon">

					<img class="skills-icons" src="images/skills/boto3.png" alt="Boto3 Icon">

					<img class="skills-icons" src="images/skills/nasm.png" alt="NASM Icon">

					<img class="skills-icons" src="images/skills/eclipse.png" alt="Eclipse Icon">
				</div>

				<hr class="ed-vertical1"/>

				<div class ="skill-title">02. MECHATRONICS</div>
				<hr class="ed-vertical2"/>
				<span style="color: #36558F;"><strong>During my studies, I learnt about</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/robotics.png" alt="Robotics Icon">
					<img class="skills-icons" src="images/skills/fpga.png" alt="FPGA Icon">
					<img class="skills-icons" src="images/skills/arm.png" alt="Arm Cortex Icon">
					<img class="skills-icons" src="images/skills/stm32.png" alt="STM 32 Icon">
					<img class="skills-icons" src="images/skills/verilog.png" alt="SystemVerilog Icon">
				</div>

				<hr class="ed-vertical2"/>
				<span style="color: #36558F;"><strong>I also had design experience using</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/inventor.png" alt="AutoDesk Inventor Icon">

					<img class="skills-icons" src="images/skills/autocad.png" alt="AutoDesk AutoCAD Icon">

					<img class="skills-icons" src="images/skills/fusion360.png" alt="Fusion 360 Icon">

					<img class="skills-icons" src="images/skills/nx.png" alt="Siemens NX Icon">
				</div>

				<hr class="ed-vertical2"/>
				<span style="color: #36558F;"><strong>Can't forget about Electricity</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/labview.png" alt="LabVIEW Icon">
					<img class="skills-icons" src="images/skills/plcs.png" alt="PLCs Icon">

					<img class="skills-icons" src="images/skills/circuitry.png" alt="Circuitry Icon">
				</div>


				<hr class="ed-vertical1"/>

				<div class ="skill-title">03. OTHER</div>
				<hr class="ed-vertical2"/>
				<span style="color: #36558F;"><strong>Skills I picked up over the years</strong></span>
				<div class="skills-container">
					<img class="skills-icons" src="images/skills/photoshop.png" alt="Photoshop Icon">
					<img class="skills-icons" src="images/skills/3dprinting.png" alt="3D Printing Icon">
					<img class="skills-icons" src="images/skills/lasercutting.png" alt="Laser Cutting Icon">
				</div>


				<hr class="ed-vertical1"/>
				Never stop learning
				<hr class="ed-vertical1"/>

			</div>
		</div>
	</div>






	<div id="about-me" class="about-me">
		<div class="wrapper">
			<div class="section-head">ABOUT ME</div>
			<div class="built-loc">WHO</div>
			<div class="what-txt">am I?</div>
			<br>
			<br>
			Values:
			<br>
			<br>
			<br>
			<br>
			Goals:
			<br>
			My Best Skills:
			Public Speaking, Leadership, Influence
			<br>
			<br>
			<br>
			Interests:
			<br>
			<br>
			Painting, Designing stuff. Archery, Fishing
			<br>
			<br>
			Vision for the World:
			<br>
			<br>
			<br>
			<br>
			<!-- write anictdoe with your signature at the end simple, plain and wide design with a loto f space-->
			Scroll back up!:
		</div>
	</div>



	<div class="epilogue">
		<div class="wrapper">
			<div class="center-align">
				<div class="section-head center-align">EPILOGUE</div>
				<div class="built-loc">My Message</div>
			</div>

			<br>
			<br>
			<br>
			Dear World,
			<br>
		</div>
	</div>


	<div class="jarallax">
		 <img class="jarallax-img" src="/images/Untitled1.png" alt="nice city">
		<div class="photography">

			<div class="wrapper">
				<div class="section-head">PHOTOGRAPHY</div>
				<br>
			</div>
		</div>
	</div>

</body>

		<!-- 

		Projects with picture and slide show, Experiences with company logos and photos, skills with logos and greyed out, clickable to skill website, only logo but when you hover over it shows the name underneath.

		Hobbies with photos
		interests small section talking about what you like

		I try my best to abide by the following values:
		- To always be honest and respectful to everyone that I cross paths with.
		- To always help those in need and to support my friends and family to the best of my ability.
		- To always put in 100% effort into everything that I make.

		Interests: Piano, Ukelele, Photography, Google Reviews, 



		Why Mechatronics?
					I've always enjoyed coding and the ability it gives you to create any idea that comes to mind. I also love tinkering with different gadgets lying around and integrating different technologies together
-->


<script>
var items = document.querySelectorAll(".timeline li");
 
// code for the isElementInViewport function
 
function callbackFunc() {
  for (var i = 0; i < items.length; i++) {
    if (isElementInViewport(items[i])) {
      items[i].classList.add("in-view");
    }
  }
}
 
window.addEventListener("load", callbackFunc);
window.addEventListener("scroll", callbackFunc);

function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}
</script>