<nav role="navigation">
    <ul class="header-nav-list header-social-nav">
        <li>
            {% include icon.html name="email" %}
            <a href="mailto:mostafa@okasha.me">mostafa@okasha.me</a>
        </li>
        <li>
            {% include icon.html name="github" %}
            <a href="https://github.com/MostafaOkasha/" target="_blank" rel="noopener">MostafaOkasha</a>
        </li>
        <li>
            {% include icon.html name="linkedin" %}
            <a href="https://www.linkedin.com/in/Okashm/" target="_blank" rel="noopener">Okashm</a>
        </li>
    </ul>
    <div class="header-nav-divider"></div>
    <ul class="header-nav-list">
        <li><a href="/resume/resume.pdf" target="_blank" rel="noopener">resume.pdf</a></li>
        <li><a href="#about-me">about.html</a></li>
        <li><a href="https://github.com/MostafaOkasha/MostafaOkasha.github.io" target="_blank" rel="noopener">source.git</a></li>
    </ul>
</nav>
