<!-- JQuery CDN import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- JScrollMe JQuery import -->
<script type="text/javascript" src="/javascripts/jquery.scrollme.min.js"></script>

<!-- AngularJS Script CDN import -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- Hotjar Tracking Code for www.okasha.me -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1476784,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script>
    window.onblur = function() {
        document.title = "Away | Mostafa Okasha";
    };
    window.onfocus = function() {
        document.title = "{{ page.title }} | Mostafa Okasha";
    };
</script>

<!-- FancyApps script -->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<!-- Jarallax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.11.0/jarallax.min.js"></script>

<!-- Include it if you want to use Video parallax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.11.0/jarallax-video.min.js"></script>

<!-- Include it if you want to parallax any element -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jarallax/1.11.0/jarallax-element.min.js"></script>


<!-- 
        <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
-->